<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SAMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SAMS.styles.css" asp-append-version="true" />

    <meta name="theme-color" content="#FFFFFF" />
    <link rel="manifest" href="/lib/manifest.json" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" style="visibility:visible; color:black;" asp-area="" asp-controller="Home" asp-action="Index">SAMS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" id="thespan" style="color:black;"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Student" asp-controller="Dashboard" asp-action="Student">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/AddAccount">Add Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ChosenBellSchedule" asp-action="Index">Choosen Bell Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="RoomQRCode" asp-action="Index">Room QRCodes</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SAMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a class="btn" id="themeButton">Dark Mode - <img src="/images/DarkMode.png" class="navbar-toggler-icon" style="border-radius:20rem;" /></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        //Check for saved theme preference in localStorage
        let theme = localStorage.getItem('theme');

        //Apply the saved theme preference
        if (theme) {
            document.documentElement.setAttribute('data-bs-theme', theme)
            if (theme == "light") {
                document.getElementById("thespan").textContent = "☰";
            }
        } else {
            // If there is no saved preference, you can default to light mode
            document.documentElement.setAttribute('data-bs-theme', 'light');
            document.getElementById("thespan").textContent = "";
        }

        //Function to switch themes
        function switchTheme() {
            var currentTheme = document.documentElement.getAttribute('data-bs-theme');
            var newTheme = (currentTheme === 'dark') ? 'light' : 'dark';
            if (newTheme == "light") {
                document.getElementById("thespan").textContent = "";
            } else if (newTheme == "dark") {
                document.getElementById("thespan").textContent = "☰";
            }
            document.documentElement.setAttribute('data-bs-theme', newTheme);
            localStorage.setItem('theme', newTheme);
        }

        //Add event listener to theme button
        document.getElementById('themeButton').addEventListener('click', switchTheme);
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
