@model SAMS.Models.LawEnforcementInfoModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LawEnforcementInfoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LawenfID" />
            <div class="form-group">
                <label asp-for="LaweFirstNameMod" class="control-label"></label>
                <input asp-for="LaweFirstNameMod" class="form-control" />
                <span asp-validation-for="LaweFirstNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaweMiddleNameMod" class="control-label"></label>
                <input asp-for="LaweMiddleNameMod" class="form-control" />
                <span asp-validation-for="LaweMiddleNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaweLastNameMod" class="control-label"></label>
                <input asp-for="LaweLastNameMod" class="form-control" />
                <span asp-validation-for="LaweLastNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LawePreferredNameMod" class="control-label"></label>
                <input asp-for="LawePreferredNameMod" class="form-control" />
                <span asp-validation-for="LawePreferredNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaweEmailMod" class="control-label"></label>
                <input asp-for="LaweEmailMod" class="form-control" />
                <span asp-validation-for="LaweEmailMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LawePhoneMod" class="control-label"></label>
                <input asp-for="LawePhoneMod" class="form-control" />
                <span asp-validation-for="LawePhoneMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
