@model SAMS.Models.AdminInfoModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AdminInfoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdminID" />
            <div class="form-group">
                <label asp-for="AdminFirstNameMod" class="control-label"></label>
                <input asp-for="AdminFirstNameMod" class="form-control" />
                <span asp-validation-for="AdminFirstNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminMiddleNameMod" class="control-label"></label>
                <input asp-for="AdminMiddleNameMod" class="form-control" />
                <span asp-validation-for="AdminMiddleNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminLastNameMod" class="control-label"></label>
                <input asp-for="AdminLastNameMod" class="form-control" />
                <span asp-validation-for="AdminLastNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminPreferredNameMod" class="control-label"></label>
                <input asp-for="AdminPreferredNameMod" class="form-control" />
                <span asp-validation-for="AdminPreferredNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminEmailMod" class="control-label"></label>
                <input asp-for="AdminEmailMod" class="form-control" />
                <span asp-validation-for="AdminEmailMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminPhoneMod" class="control-label"></label>
                <input asp-for="AdminPhoneMod" class="form-control" />
                <span asp-validation-for="AdminPhoneMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminLabelMod" class="control-label"></label>
                <input asp-for="AdminLabelMod" class="form-control" />
                <span asp-validation-for="AdminLabelMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

