@model SAMS.Models.DeveloperInfoModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeveloperInfoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeveloperFirstNameMod" class="control-label"></label>
                <input asp-for="DeveloperFirstNameMod" class="form-control" />
                <span asp-validation-for="DeveloperFirstNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeveloperMiddleNameMod" class="control-label"></label>
                <input asp-for="DeveloperMiddleNameMod" class="form-control" />
                <span asp-validation-for="DeveloperMiddleNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeveloperLastNameMod" class="control-label"></label>
                <input asp-for="DeveloperLastNameMod" class="form-control" />
                <span asp-validation-for="DeveloperLastNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeveloperPreferredNameMod" class="control-label"></label>
                <input asp-for="DeveloperPreferredNameMod" class="form-control" />
                <span asp-validation-for="DeveloperPreferredNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeveloperEmailMod" class="control-label"></label>
                <input asp-for="DeveloperEmailMod" class="form-control" />
                <span asp-validation-for="DeveloperEmailMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

