@model SAMS.Models.FastPassModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FastPassModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FastPassIDMod" class="control-label"></label>
                <input asp-for="FastPassIDMod" class="form-control" />
                <span asp-validation-for="FastPassIDMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <select asp-for="StudentID" class ="form-control" asp-items="ViewBag.StudentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentNameMod" class="control-label"></label>
                <input asp-for="StudentNameMod" class="form-control" />
                <span asp-validation-for="StudentNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDateTime" class="control-label"></label>
                <input asp-for="StartDateTime" class="form-control" />
                <span asp-validation-for="StartDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateTime" class="control-label"></label>
                <input asp-for="EndDateTime" class="form-control" />
                <span asp-validation-for="EndDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BellNumber" class="control-label"></label>
                <input asp-for="BellNumber" class="form-control" />
                <span asp-validation-for="BellNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartLocationID" class="control-label"></label>
                <input asp-for="StartLocationID" class="form-control" />
                <span asp-validation-for="StartLocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndLocationID" class="control-label"></label>
                <select asp-for="EndLocationID" class ="form-control" asp-items="ViewBag.EndLocationID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseIDFromStudentSchedule" class="control-label"></label>
                <select asp-for="CourseIDFromStudentSchedule" class ="form-control" asp-items="ViewBag.CourseIDFromStudentSchedule"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

