@page
@model SAMS.Areas.Identity.Pages.Activation.ActivationSuccessfullModel
@{
}

<h1>Activation Successful</h1>
<h5>Please login with your Google Account now.</h5>

<a class="link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>