@page
@model SAMS.Areas.Identity.Pages.Activation.UserNotFoundModel
@{
}

<h1 class="text-danger">User Not Found</h1>
<a asp-area="Identity" asp-page="/Activation/Activate"><h3>Please try again</h3></a>

<br /><br />
<h4>If you need additional assistance, please contact one of our developers here:<br /><a href="emailto:245176@sycamoreschools.org">Deven Seth</a><br /><a href="emailto:247023@sycamoreschools.org">Shivam Vyas</a></h4>