@page
@model SAMS.Areas.Identity.Pages.Account.EmailUnmatchModel
@{
    ViewData["Title"] = "Google Email and Account Not Found";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Please make sure that the email address on records and your Google Account's email address match. If not, please contact the developers to immediately get it resolved.</p>
</header>
