@page
@model LoginUnsuccessfullModel
@{
    ViewData["Title"] = "Login Unsuccessful";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Something went wrong. Please contact the developers and meet with them to simulate the issue. The developers may require you to provide them with your Google Account details to simulate the issue on their live program devices.</p>
</header>
