@model SAMS.Areas.Admin.Controllers.InputModel
@{
    ViewData["Title"] = "Create Account";
}

<h1>Create</h1>

<title>@ViewData["Title"]</title>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-action="Create" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger pb-2"></div>



            @* Role(s) - Required *@
            <div class="form-group">
                <label asp-for="Role" class="form-label"></label>
                <div class="form-floating">
                    <select id="roleSelect" asp-for="Role" asp-items="(@ViewData["RoleId"] as SelectList)" required class="form-select" multiple onchange="handleSelectionChange()">
                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>



            @* School ID - Required *@
            <div class="form-floating pb-2">
                <input asp-for="SchoolId" class="form-control" required aria-required="true" />
                <label asp-for="SchoolId"></label>
                <span asp-validation-for="SchoolId" class="text-danger"></span>
            </div>



            @* Email Address - Required *@
            <div class="form-floating pb-2">
                <input asp-for="Email" class="form-control" required aria-required="true" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>



            @* Activation Code - Required *@
            <div class="form-floating pb-2">
                <input asp-for="ActivationCode" class="form-control" required aria-required="true" />
                <label asp-for="ActivationCode"></label>
                <span asp-validation-for="ActivationCode" class="text-danger"></span>
            </div>
            
            
            
            @* First Name - Required *@
            <div class="form-group">
                <input asp-for="FirstName" class="form-control" autocomplete="off" required aria-required="true" />
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            
            
            
            @* Middle Name - Optional *@
            <div class="form-group">
                <input asp-for="MiddleName" class="form-control" autocomplete="off" aria-required="false" />
                <label asp-for="MiddleName"></label>
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            
            
            
            @* Last Name - Required *@
            <div class="form-group">
                <input asp-for="LastName" class="form-control" autocomplete="off" required aria-required="true" />
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            
            
            
            @* Preferred Name - Optional *@
            <div class="form-group">
                <input asp-for="PreferredName" class="form-control" autocomplete="off" aria-required="false" />
                <label asp-for="PreferredName"></label>
                <span asp-validation-for="PreferredName" class="text-danger"></span>
            </div>
            
            
            
            @* Phone Number - Optional *@
            <div class="form-group">
                <input asp-for="PhoneNumber" class="form-control" autocomplete="off" aria-required="false" />
                <label asp-for="PhoneNumber"></label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            
            
            @* ALL REQUIRED STUDENT INFORMATION STARTS HERE *@


            @* Student Graduation Year - Required only if selected Role includes Student *@
            <div class="form-group students" id="stud1div" style="visibility: hidden;">
                <input asp-for="StudentGradYearMod" id="stud1input" style="visibility: hidden;" disabled class="form-control" autocomplete="off" aria-required="false" />
                <label asp-for="StudentGradYearMod" id="stud1label" style="visibility: hidden;"></label>
                <span asp-validation-for="StudentGradYearMod" id="stud1span" class="text-danger" style="visibility: hidden;"></span>
            </div>
            
            
            
            @* Student Counselor ID - Required only if selected Role includes Student *@
            <div class="form-group" id="stud2div" style="visibility: hidden;">
                <label asp-for="StudentCounselorID" id="stud2label" style="visibility: hidden;" class="form-label"></label>
                <div class="form-floating">
                    <select asp-for="StudentCounselorID" asp-items="(@ViewData["Counselors"] as SelectList)" id="stud2input" style="visibility: hidden;" disabled class="form-select" aria-required="false">
                    </select>
                    <span asp-validation-for="StudentCounselorID" id="stud2span" style="visibility: hidden;" class="text-danger"></span>
                </div>
            </div>
            
            
            
            @* Has EA Support - Optional only if selected Role includes Student (The requirement will always be false.) *@
            <div class="form-group" id="stud3div" style="visibility: hidden;">
                <input asp-for="HasEASupport" id="stud3input" class="form-control" disabled autocomplete="off" aria-required="false" style="visibility: hidden;" />
                <label asp-for="HasEASupport" id="stud3label" style="visibility: hidden;"></label>
                <span asp-validation-for="HasEASupport" id="stud3span" class="text-danger" style="visibility: hidden;"></span>
            </div>
            
            
            
            @* Assigned EA Support's ID - Required only if (selected Role includes Student) and (the checkbox above is checked). (The requirement will always be false.) *@
            <div class="form-group students" id="stud4div" style="visibility: hidden;">
                <input asp-for="StudentEAID" id="stud4input" class="form-control" autocomplete="off" disabled aria-required="false" style="visibility: hidden;"/>
                <label asp-for="StudentEAID" id="stud4label" style="visibility: hidden;"></label>
                <span asp-validation-for="StudentEAID" id="stud4span" class="text-danger" style="visibility: hidden;"></span>
            </div>
            
            
            
            @* Parent/Guardian 1 Full Name - Required only if selected Role includes Student *@
            <div class="form-group students" id="stud5div" style="visibility: hidden;">
                <input asp-for="Parentguard1NameMod" id="stud5input" style="visibility: hidden;" class="form-control" disabled autocomplete="off" aria-required="false" />
                <label asp-for="Parentguard1NameMod" id="stud5label" style="visibility: hidden;"></label>
                <span asp-validation-for="Parentguard1NameMod" id="stud5span" class="text-danger" style="visibility: hidden;"></span>
            </div>
            
            
            
            @* Parent/Guardian 1 Email Address - Required only if selected Role includes Student *@
            <div class="form-group students" id="stud6div" style="visibility: hidden;">
                <input asp-for="Parentguard1EmailMod" id="stud6input" class="form-control" disabled autocomplete="off" aria-required="false" style="visibility: hidden;"/>
                <label asp-for="Parentguard1EmailMod" id="stud6label" style="visibility: hidden;"></label>
                <span asp-validation-for="Parentguard1EmailMod" id="stud6span" class="text-danger" style="visibility: hidden;"></span>
            </div>
            
            
            
            @* Parent/Guardian 2 Full Name - Optional to be entered only if and when selected Role includes Student *@
            <div class="form-group students" id="stud7div" style="visibility: hidden;">
                <input asp-for="Parentguard2NameMod" id="stud7input" class="form-control" disabled autocomplete="off" aria-required="false" style="visibility: hidden;"/>
                <label asp-for="Parentguard2NameMod" id="stud7label" style="visibility: hidden;"></label>
                <span asp-validation-for="Parentguard2NameMod" id="stud7span" class="text-danger" style="visibility: hidden;"></span>
            </div>
            
            
            
            @* Parent/Guardian 2 Email Address - Optional to be entered only if and when selected Role includes Student *@
            <div class="form-group students" id="stud8div" style="visibility: hidden;">
                <input asp-for="Parentguard2EmailMod" id="stud8input" class="form-control" disabled autocomplete="off" aria-required="false" style="visibility: hidden;"/>
                <label asp-for="Parentguard2EmailMod" id="stud8label" style="visibility: hidden;"></label>
                <span asp-validation-for="Parentguard2EmailMod" id="stud8span" class="text-danger" style="visibility: hidden;"></span>
            </div>
            

            @* ALL STUDENT REQUIRED INFORMATION ENDS HERE *@


            @* ALL TEACHER REQUIRED INFORMATION STARTS HERE *@
            
            @* Teacher Teaches All 5 Days? - Optional (The requirement will always be false.) *@
            <div class="form-group" id="teacher1div" style="visibility: hidden;">
                <input asp-for="Teaches5Days" id="teacher1input" class="form-control" autocomplete="off" aria-required="false" disabled style="visibility: hidden;" />
                <label asp-for="Teaches5Days" id="teacher1label" style="visibility: hidden;"></label>
                <span asp-validation-for="Teaches5Days" id="teacher1span" class="text-danger" style="visibility: hidden;"></span>
            </div>
            
            
            
            @* Room Number Assigned to the Teacher - Optional (The requirement will always be false.) *@
            <div class="form-group" id="teacher2div" style="visibility: hidden;">
                <input asp-for="RoomAssignedId" id="teacher2input" class="form-control teachers" autocomplete="off" aria-required="false" disabled style="visibility: hidden;" />
                <label asp-for="RoomAssignedId" id="teacher2label" style="visibility: hidden;"></label>
                <span asp-validation-for="RoomAssignedId" id="teacher2span" class="text-danger" style="visibility: hidden;"></span>
            </div>

            
            @* ALL TEACHER REQUIRED INFORMATION ENDS HERE *@

            
            <div class="form-group pt-4">
                <input type="submit" value="Create" class="btn btn-primary" /> <a class="p-3" asp-action="Index">Back to List</a>
            </div>
            @*<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add Account</button>*@
        </form>
    </div>
</div>

<script>
    var selectElement = document.getElementById('roleSelect');
    var currentValues = Array.from(selectElement.selectedOptions).map(option => option.value);

    // Use setInterval to continuously check the selected options
    setInterval(function () {
        var selectedOptions = Array.from(selectElement.selectedOptions);
        var newValues = selectedOptions.map(option => option.value);

        // Find options that were selected
        var selected = newValues.filter(value => !currentValues.includes(value));
        selected.forEach(value => selections(value));

        // Find options that were unselected
        var unselected = currentValues.filter(value => !newValues.includes(value));
        unselected.forEach(value => unselections(value));

        // Update the current selected options
        currentValues = newValues;
    }, 1000); // Check every second

    function selections(something) {
        switch(something) {
            case "Teacher": {
                document.getElementById('teacher1input').removeAttribute("disabled");
                document.getElementById('teacher2input').removeAttribute("disabled");
                var teacherVisibility = ["teacher1div", "teacher1input", "teacher1label", "teacher1span", "teacher2div", "teacher2input", "teacher2label", "teacher2span"];
                var teacherInputsEnabled = ["teacher1input", "teacher2input"];
                for (let i = 0; i < teacherVisibility.length; i++) {
                    document.getElementById(teacherVisibility[i]).style.visibility = "visible";
                }

                for (let i = 0; i < teacherInputsEnabled.length; i++) {
                    document.getElementById(teacherInputsEnabled[i]).removeAttribute("disabled");
                }
                break;
            }
            // case "Substitute Teacher": {

            //     break;
            // }
            case "Student": {

                var studentVisibility = ["stud1div", "stud1input", "stud1label", "stud1span", "stud2div", "stud2input", "stud2label", "stud2span", "stud3div", "stud3input", "stud3label", "stud3span", "stud4div", "stud4input", "stud4label", "stud4span", "stud5div", "stud5input", "stud5label", "stud5span", "stud6div", "stud6input", "stud6label", "stud6span", "stud7div", "stud7input", "stud7label", "stud7span", "stud8div", "stud8input", "stud8label", "stud8span"];
                var studentInputsEnabled = ["stud1input", "stud2input", "stud3input", "stud4input", "stud5input", "stud6input", "stud7input", "stud8input"];

                for (let i = 0; i < teacherVisibility.length; i++) {
                    document.getElementById(studentVisibility[i]).style.visibility = "visible";
                }

                for (let i = 0; i < teacherInputsEnabled.length; i++) {
                    document.getElementById(studentInputsEnabled[i]).removeAttribute("disabled");
                }
                break;
            }
            default: {
                break;
            }
        }
    }

    function unselections() {
        switch (something) {
            case "Teacher": {
                document.getElementById('teacher1input').removeAttribute("disabled");
                document.getElementById('teacher2input').removeAttribute("disabled");
                var teacherVisibility = ["teacher1div", "teacher1input", "teacher1label", "teacher1span", "teacher2div", "teacher2input", "teacher2label", "teacher2span"];
                var teacherInputsEnabled = ["teacher1input", "teacher2input"];
                for (let i = 0; i < teacherVisibility.length; i++) {
                    document.getElementById(teacherVisibility[i]).style.visibility = "hidden";
                }

                for (let i = 0; i < teacherInputsEnabled.length; i++) {
                    document.getElementById(teacherInputsEnabled[i]).setAttribute("disabled");
                }
                break;
            }
            // case "Substitute Teacher": {

            //     break;
            // }
            case "Student": {

                var studentVisibility = ["stud1div", "stud1input", "stud1label", "stud1span", "stud2div", "stud2input", "stud2label", "stud2span", "stud3div", "stud3input", "stud3label", "stud3span", "stud4div", "stud4input", "stud4label", "stud4span", "stud5div", "stud5input", "stud5label", "stud5span", "stud6div", "stud6input", "stud6label", "stud6span", "stud7div", "stud7input", "stud7label", "stud7span", "stud8div", "stud8input", "stud8label", "stud8span"];
                var studentInputsEnabled = ["stud1input", "stud2input", "stud3input", "stud4input", "stud5input", "stud6input", "stud7input", "stud8input"];

                for (let i = 0; i < teacherVisibility.length; i++) {
                    document.getElementById(studentVisibility[i]).style.visibility = "hidden";
                }

                for (let i = 0; i < teacherInputsEnabled.length; i++) {
                    document.getElementById(studentInputsEnabled[i]).setAttribute("disabled");
                }
                break;
            }
            default: {
                break;
            }
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}