@model SAMS.Models.StudentScheduleInfoModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentScheduleInfoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <select asp-for="StudentID" class ="form-control" asp-items="ViewBag.StudentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Bell1EnrollmentCodeMod" class="control-label"></label>
                <input asp-for="Bell1EnrollmentCodeMod" class="form-control" />
                <span asp-validation-for="Bell1EnrollmentCodeMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bell2EnrollmentCodeMod" class="control-label"></label>
                <input asp-for="Bell2EnrollmentCodeMod" class="form-control" />
                <span asp-validation-for="Bell2EnrollmentCodeMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bell3EnrollmentCodeMod" class="control-label"></label>
                <input asp-for="Bell3EnrollmentCodeMod" class="form-control" />
                <span asp-validation-for="Bell3EnrollmentCodeMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bell4EnrollmentCodeMod" class="control-label"></label>
                <input asp-for="Bell4EnrollmentCodeMod" class="form-control" />
                <span asp-validation-for="Bell4EnrollmentCodeMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bell5EnrollmentCodeMod" class="control-label"></label>
                <input asp-for="Bell5EnrollmentCodeMod" class="form-control" />
                <span asp-validation-for="Bell5EnrollmentCodeMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bell6EnrollmentCodeMod" class="control-label"></label>
                <input asp-for="Bell6EnrollmentCodeMod" class="form-control" />
                <span asp-validation-for="Bell6EnrollmentCodeMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bell7EnrollmentCodeMod" class="control-label"></label>
                <input asp-for="Bell7EnrollmentCodeMod" class="form-control" />
                <span asp-validation-for="Bell7EnrollmentCodeMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvesBellRoomCodeMod" class="control-label"></label>
                <input asp-for="AvesBellRoomCodeMod" class="form-control" />
                <span asp-validation-for="AvesBellRoomCodeMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchCodeMod" class="control-label"></label>
                <input asp-for="LunchCodeMod" class="form-control" />
                <span asp-validation-for="LunchCodeMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

