@model SAMS.Models.EASuportInfoModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EASuportInfoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EaID" />
            <div class="form-group">
                <label asp-for="EaFirstNameMod" class="control-label"></label>
                <input asp-for="EaFirstNameMod" class="form-control" />
                <span asp-validation-for="EaFirstNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EaMiddleNameMod" class="control-label"></label>
                <input asp-for="EaMiddleNameMod" class="form-control" />
                <span asp-validation-for="EaMiddleNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EaLastNameMod" class="control-label"></label>
                <input asp-for="EaLastNameMod" class="form-control" />
                <span asp-validation-for="EaLastNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EaPreferredNameMod" class="control-label"></label>
                <input asp-for="EaPreferredNameMod" class="form-control" />
                <span asp-validation-for="EaPreferredNameMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EaEmailMod" class="control-label"></label>
                <input asp-for="EaEmailMod" class="form-control" />
                <span asp-validation-for="EaEmailMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EaPhoneMod" class="control-label"></label>
                <input asp-for="EaPhoneMod" class="form-control" />
                <span asp-validation-for="EaPhoneMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EaStudentManaged" class="control-label"></label>
                <input asp-for="EaStudentManaged" class="form-control" />
                <span asp-validation-for="EaStudentManaged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

