@model SAMS.Models.HandheldScannerNodeModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HandheldScannerNodeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScannerID" />
            <div class="form-group">
                <label asp-for="RoomIDMod" class="control-label"></label>
                <select asp-for="RoomIDMod" class="form-control" asp-items="ViewBag.RoomIDMod"></select>
                <span asp-validation-for="RoomIDMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumberMod" class="control-label"></label>
                <input asp-for="SerialNumberMod" class="form-control" />
                <span asp-validation-for="SerialNumberMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

