@model SAMS.Models.ActiveCourseInfoModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ActiveCourseInfoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseCode" class="control-label"></label>
                <input asp-for="CourseCode" class="form-control" />
                <span asp-validation-for="CourseCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseLevel" class="control-label"></label>
                <input asp-for="CourseLevel" class="form-control" />
                <span asp-validation-for="CourseLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseTeacherID" class="control-label"></label>
                <select asp-for="CourseTeacherID" class ="form-control" asp-items="ViewBag.CourseTeacherID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseRoomID" class="control-label"></label>
                <select asp-for="CourseRoomID" class ="form-control" asp-items="ViewBag.CourseRoomID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseBellNumber" class="control-label"></label>
                <input asp-for="CourseBellNumber" class="form-control" />
                <span asp-validation-for="CourseBellNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseLength" class="control-label"></label>
                <input asp-for="CourseLength" class="form-control" />
                <span asp-validation-for="CourseLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseTaughtDays" class="control-label"></label>
                <input asp-for="CourseTaughtDays" class="form-control" />
                <span asp-validation-for="CourseTaughtDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyAttChecked" class="control-label"></label>
                <input asp-for="DailyAttChecked" class="form-control" />
                <span asp-validation-for="DailyAttChecked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="B2BAttChecked" class="control-label"></label>
                <input asp-for="B2BAttChecked" class="form-control" />
                <span asp-validation-for="B2BAttChecked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

